<div data-role="header" data-position="fixed">
	<h1>Colour settings</h1>
	<a id="home" data-icon="home" class="ui-btn-right" data-direction="reverse">Home</a>
</div><!-- /header -->

<div role="main" class="ui-content">
       <br/><br/>
       <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">Colour</li>
          <li data-icon="false" data-theme="a"><a id="default" >Default: Blue Theme</a></li>    
          <li data-icon="false" data-theme="b"><a id="yellow" >Yellow Theme</a></li>    
          <li data-icon="false" data-theme="c"><a id="red" >Red Theme</a></li>    
       </ul>
</div><!-- /content -->
     
<div data-role="footer"  data-position="fixed" data-id="footernav" data-theme="a">
      <div data-role="navbar">
          <ul>
	         <li><a id="utils" data-icon="info">Utilities</a></li>
             <li><a id="settings" data-icon="gear">Settings</a></li>
          </ul>
      </div> <!-- navbar -->
</div><!-- /footer -->
