	<div data-role="header" data-position="fixed">
		<h1>Add a photograph (Optional)</h1>
		<a id="home" data-icon="home" class="ui-btn-right" data-direction="reverse">Home</a>
	</div><!-- /header -->

    <br/><br/>
	<div role="main" class="ui-content">
		<br/>
		<a id="addPhoto" class="ui-btn ui-icon-search ui-btn-icon-right" data-ajax="false">Add photo from gallery</a>
   	    </br>
   	    <a id="takePhoto" class="ui-btn ui-icon-camera ui-btn-icon-right" data-ajax="false">Take a photo</a>
   	    </br>
   	    <a id="details" class="ui-btn ui-icon-arrow-r ui-btn-icon-right" data-ajax="false">Do not attach photo and skip this page</a>
    </div><!-- /content -->


