<div data-role="header" data-position="fixed">
	<h1>Settings</h1>
	<a id="home" data-icon="home" class="ui-btn-right" data-direction="reverse">Home</a>
</div><!-- /header -->

<div role="main" class="ui-content">
    <br/><br/>
    <ul data-role="listview" data-inset="true">
       <li data-role="list-divider">Style</li>
       <li><a id="font">Font</a></li>
       <li><a id="colour">Colour</a></li>
    </ul>
</div><!-- /content -->

<div data-role="footer"  data-position="fixed" data-id="footernav" data-theme="a">
	<div data-role="navbar">
	    <ul>
		    <li><a id="utils" data-icon="info">Utilities</a></li>
     	    <li><a id="settings" data-icon="gear">Settings</a></li>
	    </ul>
	</div> <!--  navbar -->
</div><!-- /footer -->
